body {
    background: url("images/Webpage/Cafe_exterior_border.png") no-repeat center center fixed;
    /*background: url("images/Webpage/Photo from Tom(4).jpg") no-repeat center center fixed;*/
    background-size: 100% ;
    background-position: 0% 0%;
    
}

.image-text-twin {
    display: inline-flex;
}

.image-container {
    width: 50%;
}

img {
    width: 100%;
}

.text {
    width: 50%;
}

#banner {
    /*background: url("images/Photo from Tom(4).jpg") no-repeat center center fixed;
    background-size: 100% ;
    background-position: 0% 10%;
    display: inline-flex;*/
    
    
    
    opacity: 1;
    
    
    height: 1000px;

}

#intro {
    
    
    width: 80%;
    margin-left: 10%;
    /*padding-top: 14%;*/
    margin-top: 14%;
    
}

#intro p {
    background-color: white;
    opacity: 1;
    font-size: 2em;

}

#intro img {
    width: 100%;
}