.address-text-mobile {
  display: none;
}

* {
  font-family: 'Playfair Display', serif;
}

html, body {
    height: 100%;
    width: 100%; 
    padding: 0;
    margin: 0;
    color: #225C77
}

html {
  font-size: 22px;
}

p {
  margin-top: 40px;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  flex-grow: 2;
  display: block;
  max-width: 100%;
}

header {  
  background-color: #3F9CC7;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #eff3f8;
  text-align: center;
  margin-top: 0; 
  position: relative;
  top: 0;
  left: 0;
  width: 100%;  
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}


header h1{
  text-align: center;
  margin-top: 40px;
}

nav{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
a:hover{
  color: yellow;
  cursor: pointer;
  opacity: 0.7;
}

#logo-background {
    height: 141px;
    background-color: #3F9CC7;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

#logo-background img {
  display: flex;
  justify-content: center;
  max-height: 100%;
}



.berry-design-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.berry-design {
  width: 15%;
  /* height: 100%; */
  background-color: #F3DF70;
  background-size: cover;
  background-repeat: no-repeat;
  
  
}

#berry-design-left {
  background-image: url('../images/Webpage/Designs/Web/Flower\ pattern\ left\ hand\ side.png');
}

#berry-design-right {
  background-image: url('../images/Webpage/Designs/Web/Flower\ pattern\ right\ hand\ side.png');
}


.berry-design img {
  object-fit:fill;
  width: 100%;
  height:fit-content ;
}

main {
  width: 100%;
}


.btn{
    height: 40px;
    width: 100px;
    border-radius: 4px;
    color: white;
    font-weight: 900;
    font-size: large;
    background-color: #2795df;    
}
.btn:hover {
    cursor: pointer;
    color: yellow;
}

.connect{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: fit-content;
}


.hero-banner {
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 60px 60px /*auto*/;
}

.hero-banner h1 {
    font-size: 40px;
    /*color: #4974c4;*/
}
.hero-banner p {  
  line-height: 1.5; 
  margin-top: 40px;
}

.contact-us .map {
    overflow: hidden;
    border-radius: 4px;
}
.main-image__container{
    width: 50%;
}
.main-image__container .img-fluid{
    width: 700px;
    height: 1000px;
}

.container-fluid {    
    margin: 60px 60px;
    max-width: 100%;
}

.intro-container {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    vertical-align: top;
    width: 100%;
}

.image-container{
    overflow: hidden;
    width: 100%;
}
.image-container img{
    max-width: 100%;
    border-radius: 15px;    
}
.intro{
    flex-grow: 1;
    height: auto;    
    margin-right: 30px;
    padding: 0px 30px 30px;  
    line-height: 1.2em;  
}
.intro-heading ,
.address-heading,
.about-heading{    
    font-size: 2rem;    
}

.about-heading{
  margin-top: 70px;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #2795df;
  color: #eff3f8;
  margin-left: 10px;

}

.fa-instagram {
  background: #2795df;
  color: #f6f6fc;
  margin-left: 10px;
}

section{
    margin-top: 60px;
}


#slideshow {
  margin-bottom: 60px;
  min-height: fit-content;
  display: inline-flex;
  width: 100%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position:relative;
  margin: auto;
  height: 550px;
}

.fade {
  width: 100%;
  height: 100%;
}

.fade img {
    /*height: 400px;*/
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
}

.images-and-buttons {
  display: block;
  width: 100%;
}

/* Hide the images by default */
.mySlides {
  display:none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute; 
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(74, 163, 214, 0.8);
}

/* Caption text */
.text {
  color: #fdfdff;
  font-size: 35px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px; 
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: #3F9CC7;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #a9cada;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.col-md-7 {
  margin-top: 40px;
}

#dots {
  margin-top: 1px;
}

#intro {
    
    
    width: 80%;
    margin-left: 10%;    
    margin-top: 14%;
    
} 

#intro p {
    background-color: white;
    opacity: 1;
    font-size: 2em;

}

#intro img {
    width: 100%;
} */

footer *{    
    left: 5px;
} 
footer .text {
    margin-left: 10px;
}
footer{
    color: white;
    background-color: #3F9CC7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    margin-bottom: 1rem;
    padding: 2rem;
    margin: auto;
    text-align: center;
    max-width: 100%;
    font-family: 'Playfair Display', serif;
    
}
.credit{
  width: 60%;
}
.credit * {
  margin-top: 20px;
}

@media only screen and(max-width:560px){
    footer{
        padding : 4.8125rem 15% 0 15%;
        margin: 0 auto;
        left:20px;
    }
    
}

@media only screen and (min-width: 750px){
  .intro-container{
  flex-direction: row;
  justify-content: center;
  max-width:100%;
  }
  .intro-container{
    margin-left: 50px;
  }  
}


@media only screen and (max-width: 749px) {
  .intro-container{
    flex-direction: column;
    justify-content: center;
  }
  .image-container {
    margin: auto;
  }
  .intro{
    flex-grow: 1;
    height: 400px;
    max-width: 90%;
    padding: 0px 30px 30px;
    margin: 10px;
}
header{
  display: flex;
  width: 100%;
}


#logo-background {
  display: flex;
flex-direction: row;
align-content: center;
justify-content: flex-start;
  height: 100px;
  margin-left: 20px;
}
#logo-background img{
  display: flex;
  max-width: 40%;
}
nav{
  display: flex;
 align-items: center;
 margin-right: 20px;
}
nav ul li a {
  float: right;
}
.slideshow-container{
  margin: 0 5px;
  max-width: 100%;
}
.image-container img{
    max-width: 100%;
    border-radius: 18px;
    margin: 0 auto 20px;
    padding: 5px;
}
.container-fluid {    
    margin: 0 10px 5px;
    max-width: 100%;
}
.hero-banner {
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 10px 20px;
}

.connect{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
html{
  font-size: medium;
}
.about-heading,.intro-heading{
  font-size: 1.5rem;
}
.about-heading{
  margin-top: 20px;
}

}


@media only screen and (max-width: 600px), (max-device-width: 600px) {
  .berry-design {
    display: none;
  }

  .hero-banner {
    margin: 0px;
  }

  #logo-background {
    height: 100%;
    justify-content: center;

  }

  #logo-background img {
    max-width: 90%;    
    
  }

  header {
    height: 30%;
  }

  .mobile {
    
    background-image: url('../images/Webpage/Designs/Mobile/Yellow banner with flowers.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40%;
    display: block;
    padding: 0px;
    margin: 0px;
    
  }

  .mobile h1 {
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 5%;
  }

  .hero-banner p  {
    font-size: 30px;
    padding: 0% 5%;
    line-height: 1.2em;
  }

  .connect {
    justify-content: left;
    margin-left: 5%;
    margin-top: 40px;
  }

  .slideshow-container  {
    margin: 0px;
  }

  .image-container img {
    padding: 0px;
    border-radius: 0px;
  }

  .intro {
    height: auto;
  }

  h2.intro-heading, h2.about-heading {
    font-size: 40px;    
  }

  h2.intro-heading {
    margin-top: 40px;
  }

  h2.about-heading {
    margin-top: 70px;
  }


  p.intro-text, p.about-text {
    font-size: 30px;
    line-height: 1.4em;
  }

  .container-fluid {
    margin: 0px;
  }

  .fade img {
    border-radius: 0px;
  }

  .address {
    margin: 0% 10%;
    background-image: url(../images/Webpage/Designs/Single\ flower.png); 
    background-repeat: no-repeat;
    height: auto;
    background-position: bottom right;
    background-size: 60% 80%;
    width: 90%;
    height: 300px;
  }

  h2.address-heading {
    font-size: 40px;
    
  } 

  .address-text {
    display: none;
  }

  p.address-text-mobile {
    display: block;
    font-size: 32px;
    margin-top: 0px;
    line-height: 1.4em;
    
  }

}